@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,300&display=swap%27');
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    font-family:  'Poppins', sans-serif;
  }
  
  .modal.enter-done {
    opacity: 1;
    pointer-events: visible;
  }
  
  .modal.exit {
    opacity: 0;
  }
  
  .modal-content {
    width: 500px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
    border-radius: 10px;
  }
  
  .modal.enter-done .modal-content {
    transform: translateY(0);
  }
  
  .modal.exit .modal-content {
    transform: translateY(-200px);
  }
  
  .modal-header{
    padding: 15px;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #b8b8b8;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 600;
  }
  .modal-footer {
    padding: 13px;
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .button{
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: small;
    font-weight: 500;
    box-shadow: 0px 0px 10px 1px rgba(113,113,113,0.75);
    margin-right: 2%;
  }