.steps {
    width: 600px;
    background-color: #f7f7f7;
    border-radius: 7px;
    padding: 25px 100px;
    margin: 100px auto;
}

  .numbersExp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.numbersExp > div {
    height: 50px;
    width: 7.5rem;
    aspect-ratio: 1;
    background-color: #e7e7e7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    padding: 1px 0px 1px 0px;
}  
/* .numbersExp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    width: 100%;
  }
  
  .rowt {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .numbersExp > .rowt > div {
    height: 50px;
    width: 100%; 
    background-color: #e7e7e7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 1px 0px 1px 0px;
  }  */

.numbersExp .activeExp,
button.activeExp {
    background-color: #4D7CAE;
    color: #fff;
}
button.noactiveExp{
    cursor: initial;
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1), 0px 1px 0px 0px rgba(25,28,33,0.02), 0px 0px 0px 1px rgba(25,28,33,0.08);
}
button.noactiveExp:hover{
    cursor: initial;
}

.message {
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsExp {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.buttonsExp button {
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 10px;
}

.buttonsExp button span {
    font-size: 16px;
    line-height: 1;
}

.textStep {
    margin: 0;
    text-transform: uppercase;
}